<h1>Bienvenido al Sistema de Facturacion</h1>
<p>Esta es una prueba tecnica realiazada para DigitalWare que se realizan los siguientes puntos:</p>
<ul>
  <li>
    Realizar la construcción de un modelo de datos de una aplicación de facturación, el cual debe tener
    como mínimo 4 tablas. Para ellos se evaluará la nomenclatura, diseño y normalización. Se debe ejecutar
    sobre el motor de base de datos SQL Server y se debe entregar script de creación de tablas con
    ingreso de data de prueba.
    • El modelo de datos anterior debe suplir las siguientes consultas las cuales deben ser entregadas en
    un script adicional.
    o Obtener la lista de precios de todos los productos
    o Obtener la lista de productos cuya existencia en el inventario haya llegado al mínimo
    permitido (5 unidades)
    o Obtener una lista de clientes no mayores de 35 años que hayan realizado compras entre el
    1 de febrero de 2000 y el 25 de mayo de 2000
    o Obtener el valor total vendido por cada producto en el año 2000
    o Obtener la última fecha de compra de un cliente y según su frecuencia de compra estimar
    en qué fecha podría volver a comprar.
  </li>
  <li>
    El Backend se debe construir haciendo uso del lenguaje c# con .NET exponiendo servicios REST con
    web api. Para la conexión a la base de datos se puede usar ADO.NET puro o un ORM como entity
    FrameWork y se apreciara mucho que se realice separación por capas.
  </li>
  <li>
    Se debe construir una aplicación web de facturación utilizando controles de la librería de devextreme
    (Grillas. Formularios, Botones) integrado con Angular mínimo versión 5. Donde se debe realizar el
    llamado de los servicios de la API para el CRUD de facturación.
  </li>
</ul>
<p>Si tiene alguna duda me puede contactar al celular: <strong>3012857157</strong> o al correo <strong>rafaelospinacastro@gmail.com</strong></p>
